version: '3'
services:
    nginx:
        image: nginx:latest
        container_name: ng
        restart: always
        ports:
            - "80:80"
        volumes:
            - ./web:/app/web
            - ./data/static:/app/data/static
            - ./config/nginx:/etc/nginx/conf.d
        depends_on:
            - web

    web:
        build: .
        container_name: wb
        restart: always
        command: bash -c "python manage.py collectstatic --noinput && python manage.py makemigrations && python manage.py migrate && gunicorn reflection.wsgi -w 2 -b 0.0.0.0:8000 --reload"
        volumes:
            - ./web:/app/web
            - ./data:/app/data
        env_file:
            - ./config/web.env
        expose:
            - "8000"
