/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 85px;

  .accent-links {
    a:link, a:hover, a:visited, a:active, a:focus {
      color: firebrick;
    }

    a:hover {
      text-decoration: none;
      color: #E82929;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #333;
  padding: 20px 0;
}

.navbar {
  padding-top: 50px;
  background: transparent;
  border: none;
  border-top: 5px solid firebrick;
  font-size: 1.5em;
  box-shadow: none;

  .navbar-toggle {
    border: 0;
  }

  a:link, a:visited, a:hover, a:active, a:focus {
    color: #000;
  }

  .navbar-nav {
    .active {
      a:link, a:hover, a:visited, a:active, a:focus {
        border-bottom: 3px solid firebrick;
        background: transparent;
      }

      a:hover {
        color: #555;
      }
    }

    li {
      a:link, a:visited, a:active, a:focus {
        color: #000;
        background: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }

      a:hover {
        color: #555;
      }
    }
  }
  
  .navbar-brand {
    text-shadow: none;
    font-size: 1.5em;
  }
}

.page-header {
  border-color: #efd2d2;
}

.project {
  .updated {
    margin-top: 25px;
    color: #888;
  }

  .repo {
    font-size: 36px;
    font-weight: lighter;
  }

  .language {
    padding-left: 10px;
  }

  .github {
    line-height: 52px;
  }
}

.contact {
  text-align: center;
  padding-top: 20%;

  .fa {
    color: firebrick;;
  }
}