/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;

  .project {
    a:link, a:hover, a:visited, a:active, a:focus {
      color: firebrick;
    }

    a:hover {
      text-decoration: none;
      color: #E82929;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #333;
  padding: 20px 0;
}

.navbar {
  padding-top: 50px;
  background: transparent;
  border: none;
  border-top: 5px solid firebrick;
  font-size: 1.5em;
  box-shadow: none;

  .navbar-toggle {
    border: 0;
  }

  a:link, a:visited, a:hover, a:active, a:focus {
    color: #000;
  }

  .navbar-nav {
    .active a {
      border-bottom: 3px solid firebrick;
    }

    a:link, a:hover, a:visited, a:active, a:focus {
      background: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  
  .navbar-brand {
    text-shadow: none;
    font-size: 1.5em;
  }
}

.page-header {
  border-color: #efd2d2;

  .repo {
    font-size: 36px;
    font-weight: lighter;
  }

  .updated {
    margin-left: 10px;
  }

  .github {
    line-height: 52px;
  }
}