appdirs==1.4.3
argh==0.26.2
beautifulsoup4==4.5.1
cffi==1.10.0
Django==1.10.2
django-appconf==1.0.2
django-bootstrap3==7.1.0
django-compressor==2.1
django-fresh==1.0.5
django-libsass==0.7
django-sass-processor==0.5.1
libsass==0.11.1
Markdown==2.6.8
markdown2==2.3.1
packaging==16.8
pathtools==0.1.2
py-gfm==0.1.3
pycparser==2.17
pyparsing==2.2.0
PyYAML==3.12
rcssmin==1.0.6
requests==2.11.1
rjsmin==1.0.12
six==1.10.0
tornado==4.4.2
watchdog==0.8.3
gunicorn
