{% extends 'reflection/base.html' %}

{% block title %}Contact // {{ block.super }}{% endblock %}

{% block content %}

  <div class="container">
    <div class="contact">
      <p><strong><i class="fa fa-envelope" aria-hidden="true"></i> Email me at</strong> mircea@mihalea.ro</p>
      <p><strong><i class="fa fa-facebook" aria-hidden="true"></i> Add me on Facebook</strong> facebook.com/mmihalea</p>
      <p><strong><i class="fa fa-linkedin" aria-hidden="true"></i> Send me an InMail at</strong> linkedin.com/mihalea</p>
      <p><strong><i class="fa fa-github" aria-hidden="true"></i> Reach me on github</strong> github.com/mihalea</p>
    </div>
  </div>


  {{ block.super }}
{% endblock %}