{% extends 'reflection/base.html' %}

{% block title %}Contact // {{ block.super }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="contact accent-links">
            <p><strong>
                <i class="fa fa-envelope" aria-hidden="true">
                </i> Email me at</strong> <a href="mailto:mircea@mihalea.ro">mircea@mihalea.ro</a>
            </p>
            <p><strong><i class="fa fa-facebook" aria-hidden="true"></i> Add me on Facebook</strong>
                <a href="http://facebook.com/mihalea.m" target="_blank">facebook.com/mihalea.m</a></p>
            <p><strong><i class="fa fa-linkedin" aria-hidden="true"></i> Send me an InMail at</strong>
                <a href="http://www.linkedin.com/in/mircea-mihalea" target="_blank">linkedin.com/in/mircea-mihalea</a></p>
            <p><strong><i class="fa fa-github" aria-hidden="true"></i> Reach me on github</strong>
                <a href="http://github.com/mihalea" target="_blank">github.com/mihalea</a>
            </p>
        </div>
    </div>


    {{ block.super }}
{% endblock %}