{% extends 'reflection/base.html' %}

{% load staticfiles %}
{% load sass_tags %}

{% block styles %}
  <link href="{% sass_src 'css/cover.scss' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="container cover">
      <div class="row">
        <div class="col-md-4 portrait">
          <img src="http://placehold.it/275x275" class="img-circle">
        </div>
        <div class="col-md-8">
          <h1>Hello! I'm Mircea Mihalea!</h1>
          <p>I'm a software developer, petrolhead and linux<!--GNU/Linux--> enthusiast looking to make my life easier through coding.
          I'm currently studying Computer Science at the University of Southampton.</p>
          <p class="social">
            <a href="{{ links.github }}"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
            <a href="{{ links.facebook }}"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
            <a href="{{ links.linkedin }}"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            <a href="{{ links.mail }}"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
