{% extends 'reflection/base.html' %}
{% load markdown_deux_tags %}

{% block title %}Projects // {{ block.super }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Featured:</h1>
    </div>

    <div class="row">
      {% for p in featured %}
        <div class="col-lg-4">
          <h3>{{ p.repository }} <small>{{ p.language | lower }}</small></h3>
          <span class="accent-links">{{ p.readme | markdown | truncatechars_html:500 | striptags }}</span><br/>
          <a href="{{ p.get_absolute_link }}" class="btn btn-danger">View details</a>
        </div>
      {% endfor %}
    </div>

    <div class="page-header">
      <h4>More projects:</h4>
    </div>

    <ul class="accent-links">
    {% for p in not_featured %}
        <li>
        <p><a href="{{ p.get_absolute_link }}">{{ p.repository }}:</a> {{ p.description }}</p>
        </li>
    {% endfor %}
    </ul>
  </div>

  {{ block.super }}

{% endblock content %}
