{% extends 'reflection/base.html' %}
{% load project_extras %}

{% block title %}{{ project.repository }} // {{ block.super }}{% endblock %}

{% block content %}
  <div class="container project accent-links">
    <div class="page-header">
        <span class="repo">{{ project.repository }}</span>
        <span class="language">{{ project.language }}</span>

        <a href="http://github.com/{{ project.username }}/{{ project.repository }}" class="github pull-right">GitHub <i class="fa fa-link" aria-hidden="true"></i></a>
    </div>

    <div class="readme">{{ project.readme|md|responsive }}</div>

    <span class="updated pull-right">last commit: {{ project.updated_at|date|lower }}</span>

  </div>

  {{ block.super }}

{% endblock content %}
